<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to My Development World</p>

                        <h1>I am a <span class="txt_clr">NodeJs Developer</span>, and <span class="txt_clr">Java DSA </span>is my expertise</h1>
                        <a href="https://www.linkedin.com/in/anuj-yadav-b043a7202" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

     <footer>
        <p>
            created with ❤️ by Anuj Shivchand Yadav
        </p>
    </footer>
</body>

</html>